@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* nav styles */

.nav-pic {
    height: 30px;
    width: 30px;
}

.nav-home,
.nav-projects,
.nav-accolades {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

body.modal-open {
    overflow: visible !important;
    padding-right: 0px !important;
}

/* profile */

.profile {
    height: 100vh;
}

.profile-pic-container {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-top: 30px;
    overflow: hidden;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
}

.profile-pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.mobile-stack-icons {
    height: 40px;
    width: 40px;
}

.socials {
    color: inherit;
    text-decoration: none;

    transition: color 0.05s ease;

    &:hover {
        color: #93B7BE;
        transition-delay: 0.05.s ease;
    }
}

/* projects */

.code-demo {
    height: 20px;
    width: 20px;
}

.project-images {
    height: 175px;
    width: 100%;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
}

.projects-text {
    margin-top: -1rem;
    margin-bottom: -1rem;
    text-align: center;
}

.project-stack-icons {
    height: 25px;
    width: 25px;
}

.vite-pic {
    height: 25px;
    width: 25px;
}

/* accolades */

.accolades-container {
    margin: 0;
    padding-bottom: 50px;
    height: 100vh;
    display: grid;
    place-items: center;
}

.card {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    transition: transform 800ms cubic-bezier(.05,.43,.25,.95);
}

.card-group {
    position: relative;
}

.big-card {
    width: 40vmin;
    aspect-ratio: 8 / 5;
    position: absolute;
    border-radius: 1vmin;
}

.desc-card {
    position: absolute;
    top: 54%;
    left: 30%;
    opacity: 0;
    transition: transform 800ms cubic-bezier(.05,.43,.25,.95);
}

.desc-card-text {
    font-size: 16px;
}

.little-card {
    width: 18vmin;
    border-radius: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 800ms cubic-bezier(.05,.43,.25,.95);
    z-index: 0;
}

.big-card:nth-child(5) {
    transform: translateX(40%) rotate(-3deg);
}

.big-card:nth-child(7) {
    transform: translateX(-30%) rotate(3deg);
}

.card-group:hover > .big-card:nth-child(5) {
    transform: translate(-35%) rotate(-15deg);
}

.card-group:hover > .big-card:nth-child(7) {
    transform: translate(35%) rotate(15deg);
}

.card-group:hover > .desc-card:nth-child(6) {
    transform: translate(-25%, 45%);
    opacity: 1;
    z-index: 2;
}

.card-group:hover > .little-card:nth-child(1) {
    transform: translate(10%, 150%);
    z-index: 3;
}

.card-group:hover > .little-card:nth-child(2) {
    transform: translate(-275%, 150%);
    z-index: 3;
}

.card-group:hover > .little-card:nth-child(3) {
    transform: translate(-130%, 150%);
    z-index: 3;
}

.card-group:hover > .little-card:nth-child(4) {
    transform: translate(150%, 150%);
    z-index: 3;
}

/* email modal */

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.modal-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.modal-form label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
    color: #376996;
    letter-spacing: 1px;
}

.modal-form input[type="text"],
.modal-form input[type="email"],
.modal-form input[type="subject"],
.modal-form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-form input[type="text"]:focus,
.modal-form input[type="email"]:focus,
.modal-form input[type="subject"]:focus,
.modal-form textarea:focus {
    border-color: #93B7BE;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.modal-form textarea {
    resize: vertical;
}

/* rocket game */

@keyframes shakeAnimation {

    0%,
    100% {
        transform: translate(0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate(-5px, -5px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate(5px, 5px);
    }
}

.rocket {
    animation: shakeAnimation 1.5s ease-in-out infinite;
    text-align: center;
}

.increment-btns {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: auto;
}

.reset-btn {
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    padding-top: 20px;
    justify-content: space-around;
}

.reset-btn button {
    margin-bottom: 10px;
    width: 50%;
    align-self: center;
}

.to-the-moon {
    position: relative;
    top: 50%;
    transform: translateY(-20%);
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
}

/* dark mode */

.dark {
    background-color: #343541;

    p {
        color: #ADD7F6;
    }

    .nav-style {
        background-color: #40414F !important;
    }

    .nav-home,
    .nav-projects,
    .nav-accolades {
        color: #ADD7F6;
    }

    .nav-link,
    .nav-link:hover {
        color: #ADD7F6;
    }

    h1 {
        color: #93B7BE;
    }

    .my-h1 {
        background-image: linear-gradient(to right, #87BFFF, #ADD7F6);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
    
    h2 {
        color: #ADD7F6;
    }
    
    hr {
        color: #ADD7F6;
        font-weight: bold;
    }
    
    .socials {
        color: #93B7BE !important;
    }

    .socials:hover {
        color: white !important;
    }

    .code-demo {
        display: none;
    }
}

/* media queries */

/* small viewports */
@media (max-width: 767px) {
    .my-h1 {
        text-align: center;
    }

    .profile-pic-container {
        margin: auto;
    }

    .dev-bot {
        display: grid;
        margin: auto;
        margin-bottom: 80px;
    }

    .promptopia {
        display: grid;
        margin-bottom: 80px;
        
    }

    .sum-up {
        display: grid;
    }

    .dev-bot-text {
        margin-top: 20px;
    }

    .promptopia-text {
        margin-top: 20px;
        order: 2;
    }

    .sum-up-text {
        margin-top: 20px;
    }
}

/* medium & up viewports */
@media (min-width: 768px) {
    .my-h1 {
        text-align: left;
    }
}